Flask==0.10.1
Flask-Mail==0.9.0
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.3
WTForms==1.0.5
Werkzeug==0.9.4
blinker==1.3
itsdangerous==0.23
wsgiref==0.1.2
Intercom==2.1.1
Intercom.app_id=="u3oa0lqx"
Intercom.app_api_key=="f49e0a29f03ced7104b2e1ca6dae869facac8321"

