body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #FFFFFF
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #FFFFFF;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: -20px;
}
 
/*header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #990033;
  text-transform: uppercase;
  float: left;
}*/
 
/*header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 */
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
}
 
div.jumbo {
  background-color: #FFCCCC;
  width: 900px;
  height: 550px;
/*  padding: 10px 0 400px 0;*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

 
h2 {
  font-size: 3em;
  text-align: center;
  letter-spacing: -2px;
  color: #990033;
  font-family: ;
  font-weight: 100;
  width: 900px;
  height: 30px;
}
 
h3 {
/*  padding-top: 10;*/
  font-size: 1.2em;
  font-weight: 100;
  text-align: left;
  margin-left: 40px;
  margin-top: 5px;
  letter-spacing: -1px;
  color: #999;
  height: 10px;
}

p {
  font-size: 1em;
/*  float: left;*/
  margin-left: 60px;
  font-weight: 100;
  color: #990033;
  height: 5px;
  /*margin-top: 10px*/
}

p.flavors:hover {
  cursor: pointer;
  color: #fff;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  /*margin-top: 35px;*/
  margin-right: 40px;
  margin-top: 20px;
  height: 5px;
  width: 500px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 2px;
}

/* Contact form */
form label {
  font-size: 1.2em;
  display: block;
  padding: 2px 0;
  font-weight: 100;
  color: #990033;
  margin-left: 40px;
  margin-bottom: -1px;
}
 
form input#name,
form input#email,
form input#subject {
  width: 300px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 100;
  margin-left: 40px;
}
 
form textarea#message {
  width: 400px;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
  margin-left: 40px
}
 
form input#submit {
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
  margin-left: 40px;
  margin-top: 10px;
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}

/* Signup form */
form input#firstname,
form input#lastname,
form input#phonenumber,
form input#email {
  width: 300px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
  margin-left: 40px
}

form.radio {
  margin-left: 40px;
  font-weight: 100;
  height: 60px;
}

/*form input#password {
  margin-bottom: 10px;
}*/
