{% extends "layout.html" %}
  
{% block content %}
<div class="jumbo">
  <h2>About</h2><br>
  <div class="column">
      <p><strong>Mitzi's Cupcakes</strong> specializes in custom cupcakes made the old-fashioned way!<br><br>Our delicious homemade treats are a festive addition to any party, special occasion or ordinary afternoon.<br><br>All of our creations are <strong>baked to order from scratch</strong> using only the finest ingredients, including fresh eggs, sweet cream butter from local dairy farms, Scharffen Berger chocolate and Nielsen-Massey pure Madagascar Bourbon vanilla.<br><br>No substitutes, no shortcuts. With <strong>extra smiles</strong> on top.</p>
      <img src="static/img/coconut.jpg" class="coconut">
</div>
{% endblock %}