{% extends "layout.html" %}
  
{% block content %}
<div class="jumbo">
    <div id="formcontainer">
        <div class="column">
        <h2>Confirmation Page</h2>
        <h3><strong>{{ firstname }}</strong>, thank you for choosing Mitzi's Cupcakes!</h3><br>
        <p><strong>Contact Information</strong></p>
            Name: {{ firstname }} {{ lastname }}<br>
            Phone: {{ phonenumber }}<br>
            Email: {{ email }}

            
            <div class = "deliveryconfirmationinfo">
            {% if delivery == False %}
                <p><strong>Delivery Information</strong></p>
                Alternate Name: {{ altname }}<br>
                Alternate Phone Number: {{ altphonenumber }}<br>
                Company Name: {{ companyname }}<br>
                Address: {{ streetaddress }} {{ unit }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ city }}, {{ state }} {{ zipcode }}
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="column right-align">
    <p><strong>Order Information</strong></p>
        Date and Time: {{ date_time }}<br>
        Decoration Theme: {{ decorationtheme }}<br>
        Color Scheme: {{ colorscheme }}<br><br>
        {% for cupcake in products %}
            Flavor: {{ cupcake.product.flavor }}<br>
            Dozen: {{ cupcake.quantity }}<br>
            Cost: ${{ cupcake.product.cost }}<br><br>
        {% endfor %}

        {% if delivery == False %}
            Delivery: $25
        {% endif %}

    <p><strong>Total Cost</strong></p>
        ${{ totalcost }}
</div>


{% endblock %}

{% block script %}

{% endblock %}


