{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>MITZI'S CUPCAKES</h2>
    <div id="formcontainer">
        <div class="column">
            <img src="static/img/singlecarrot.jpg" class="piped"> 
        </div>
    <h3></h3>
    </div>
  </div>
  <div class="column right-align order-information">
    <div class="motto">No subs<span style="color: #990033">titutes.</span></div><br><br><div class="motto2">No sho<span style="color: #990033">rtcuts.</span></div><br><br><div class="motto3">With extra s<span style="color: #990033">miles on top.</span>
  </div>
{% endblock %}