{% extends "layout.html" %}
  
{% block content %}
<div class="jumbo">
  <div id="formcontainer">
    <h2>Menu</h2>
    <div class="column">
      <h3>Sizes</h3>
      <p>MINIS: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$27 per dozen</p>
      <p>REGULARS: &nbsp;&nbsp;$42 per dozen</p><br>
      <h3>Flavors</h3>
      <p class="flavors">Mitzi's Sampler</p>
      <p class="flavors">Butter Cup</p>
      <p class="flavors">Confetti</p>
      <p class="flavors">Choco Choco</p>
      <p class="flavors">Chocolate & Cream</p>
      <p class="flavors">Coconut</p>
      <p class="flavors">Chocolate Coconut Cream</p>
      <p class="flavors">Grandma's Tea Cake</p>
      <p class="flavors">Red Velvet</p>
      <p class="flavors">Lemon Drop</p>
      <p class="flavors">Dulce de Leche</p>
      <p class="flavors">Snickerdoodle</p>
      <p class="flavors">Carrot</p>
    </div>
  </div>
</div>

  <div class="column right-align gmaphoto">
      <img src="static/img/grandma.jpg" class="gmaphoto2"> 
  </div>



{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">


{% endblock %}
