{% extends "layout.html" %}
  
{% block content %}
<div class="jumbo">
    <h2>Confirmation</h2><br>
        <h3><strong>{{ firstname }}</strong>, thank you for choosing Mitzi's Cupcakes!</h3><br>
        <div class="column">
        <form action="/orderreview" method="post">
        <p><strong>Contact Information</strong></p>
            <span style="color:#FFFFFF"> Name:</span> {{ firstname }} {{ lastname }}<br>
            <span style="color:#FFFFFF">Phone:</span> {{ phonenumber }}<br>
            <span style="color:#FFFFFF">Email:</span> {{ email }}

            
            <div class = "deliveryconfirmationinfo">
            {% if delivery == False %}
                <p><strong>Delivery Information</strong></p>
                <span style="color:#FFFFFF">Alternate Name:</span> {{ altname }}<br>
                <span style="color:#FFFFFF">Alternate Phone Number:</span> {{ altphonenumber }}<br>
                <span style="color:#FFFFFF">Company Name:</span> {{ companyname }}<br>
                <span style="color:#FFFFFF">Address:</span> {{ streetaddress }} {{ unit }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ city }}, {{ state }} {{ zipcode }}
            {% endif %}<br>
            <p><strong>Order Information</strong></p>
            <span style="color:#FFFFFF">Date and Time: </span>{{ date_time }}<br>
            <span style="color:#FFFFFF">Decoration Theme:</span> {{ decorationtheme }}<br>
            <span style="color:#FFFFFF">Color Scheme:</span> {{ colorscheme }}<br><br>
            {% for cupcake in products %}
                <span style="color:#FFFFFF">Flavor: </span>{{ cupcake.product.flavor }}<br>
                <span style="color:#FFFFFF">Size: </span>{{ cupcake.product.size }}<br>
                <span style="color:#FFFFFF">Dozen:</span> {{ cupcake.quantity }}<br>
                <span style="color:#FFFFFF">Cost:</span> ${{ cupcake.product.cost }}<br><br>
            {% endfor %}

            {% if delivery == False %}
                Delivery: $25
            {% endif %}

            <p><strong>Total Cost</strong></p>
            <span style="color:#FFFFFF">$</span>{{ totalcost }}<br><br><br>
</div>


{% endblock %}
